body { transition: background 0.5s ease; }
.bg-rain { 
    background-image: linear-gradient(180deg, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url(''); 
    background-size: cover; }
    /* alert badge */
.alert-badge { 
    background: rgba(255,69,58,0.95); 
    color: white; 
    padding: .25rem .5rem; 
    border-radius: .375rem; 
    font-weight: 600; }

.bg-slate-1{
    background-color: antiquewhite !important;
}
.bg-slate-2{
    background-color: #ffc2c2 !important;
}
.bg-slate-3{
    background-color: #dbeeff !important;
}